*{
    margin: 0%;
    padding: 0%;
}
.main{
    background: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    font-family: sans-serif;
    position: relative;
    color: white;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    width: 150px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -3%;
}
ul{
    margin-top: -4%;
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: 3%;
}
ul li a:hover{
    color: orangered;
}
.info{
    margin-top: 7%;
    margin-left: 6%;
}
.info h1{
    font-size: 60px;
    color: rgb(230,104, 59);
}
.info h3{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
}
.info a{
    text-decoration: none;
    color: aqua;
    background: black;
    margin: 25px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}
.info a:hover{
    background-color: orangered;
}
.info span{
    color: orangered;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 3s ease;
}
.icons a{
    text-decoration: none;
    color: orangered;
}
.icons{
    margin-left: 6%;
    color: orangered;
    margin-right: -60px;
    font-size: 40px;
}
.About{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 5em;
    background: black;
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px orangered;
    border-radius: 50%;      
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;

}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}
.about-content a{
    color: orangered;
}
.about-content a:hover{
    color: white;
}
.heading span{
    color: orangered;
}
.about-contect span{
    color: orangered;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb( 241,  241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.contact-me{
    color: black;
}
.contact-me span{
    color: orangered;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 48px;
    height: 48px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered,0 0 10px orangered;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.social a{
    color: white;
}